<mat-sidenav-container>
  <mat-sidenav #sidenav #drawer fixedInViewport="true" [opened]="false">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" routerLinkActive="active">
        Домашняя страница <i class="fas fa-home ml-1"></i>
      </a>
      <a mat-list-item [routerLink]="'/howItWorks'" routerLinkActive="active">
        Как это работает?<span class="material-icons"> build_circle </span>
      </a>
      <a mat-list-item [routerLink]="'/bikeView'" routerLinkActive="active">
        Просмотр велосипедов<span class="material-icons"> search </span>
      </a>
      <a mat-list-item [routerLink]="'/orderBike'" routerLinkActive="active">
        Забронировать велосипед<span class="material-icons"> lock </span>
      </a>
      <a mat-list-item [routerLink]="'/aboutUs'" routerLinkActive="active">
        О нас<span class="material-icons"> supervisor_account </span>
      </a>
      <a mat-list-item [routerLink]="'/faq'" routerLinkActive="active">
        FAQ<span class="material-icons"> help_outline </span>
      </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        mat-list-item
        routerLinkActive="active"
        >Закрыть <span class="material-icons"> exit_to_app </span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="position-fixed">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 class="logo">Прокат велосипедов</h1>
        <span class="menu-spacer"></span>
        <div class="links">
          <a mat-button [routerLink]="'/home'" routerLinkActive="active">
            Домашняя страница <i class="fas fa-home"></i>
          </a>
          <a mat-button [routerLink]="'/howItWorks'" routerLinkActive="active">
            Как это работает? <span class="material-icons"> build_circle </span>
          </a>
          <a mat-button [routerLink]="'/bikeView'" routerLinkActive="active">
            Просмотр велосипедов <span class="material-icons"> search </span>
          </a>
          <a mat-button [routerLink]="'/orderBike'" routerLinkActive="active">
            Забронировать велосипед <span class="material-icons"> lock </span>
          </a>
          <a mat-button [routerLink]="'/aboutUs'" routerLinkActive="active">
            О нас<span class="material-icons"> supervisor_account </span>
          </a>
          <a mat-button [routerLink]="'/faq'" routerLinkActive="active">
            FAQ<span class="material-icons"> help_outline </span>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div id="page-container">
      <div id="content-wrap" class="main-content">
        <router-outlet></router-outlet>
      </div>
      <footer id="footer" class="footer d-flex align-items-center flex-column">
        <div class="footer-wrap col-lg-9">
          <div class="container">
            <div class="row">
              <div class="footer-links col-md-12 shadow">
                <div class="mb-5 d-flex justify-content-center pt-5">
                  <a class="fb-ic">
                    <i
                      class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"
                    >
                    </i>
                  </a>
                  <a class="tw-ic">
                    <i
                      class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"
                    >
                    </i>
                  </a>
                  <a class="gplus-ic">
                    <i
                      class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"
                    >
                    </i>
                  </a>
                  <a class="li-ic">
                    <i
                      class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"
                    >
                    </i>
                  </a>
                  <a class="ins-ic">
                    <i
                      class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"
                    >
                    </i>
                  </a>
                  <a class="pin-ic">
                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="#"> BikeRide.com</a>
          </div>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
