<div class="bike-anim">
  <app-bike-animation></app-bike-animation>
</div>
<div class="bike-anim2">
  <app-bike-animation></app-bike-animation>
</div>
<div class="main d-flex justify-content-center">
  <div class="main-wrapper">
    <div class="container mb-4">
      <div class="row d-flex justify-content-center">
        <div
          class="column d-flex flex-column justify-content-center align-items-center"
        >
          <h4 class="text-center">СОЗДАНИЕ СИСТЕМ ОБЩЕСТВЕННОГО ВЕЛОПРОКАТА</h4>
          <h1 class="text-center">ИННОВАЦИОННЫЕ РЕШЕНИЯ</h1>
          <div class="line"></div>
          <h4 class="text-center">
            Мы прилагаем все усилия, чтобы обеспечить высокое качество своих
            продуктов и услуг!
          </h4>
        </div>
      </div>
    </div>
    <div class="container mb-4">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-2 d-flex flex-column">
          <img
            src="../../assets/images/innovatoins.PNG"
            class="img-fluid rounded-circle mb-2"
            alt=""
          />
          <h2 class="text-center">ИННОВАЦИИ</h2>
          <p class="text-center">
            Для нас вопрос чести – предложить вам новые решения, которые будут
            максимально соответствовать вашим потребностям.
          </p>
        </div>
        <div class="col-lg-2">
          <img
            src="../../assets/images/security.PNG"
            class="img-fluid rounded-circle mb-2"
            alt=""
          />
          <h2 class="text-center">БЕЗОПАСНОСТЬ</h2>
          <p class="text-center">
            Мы прилагаем все усилия, чтобы гарантировать вам высочайший уровень
            безопасности наших велосипедов и оборудования.
          </p>
        </div>
        <div class="col-lg-2">
          <img
            src="../../assets/images/flexability.PNG"
            class="img-fluid rounded-circle mb-1"
            alt=""
          />
          <h2 class="text-center">ГИБКОСТЬ</h2>
          <p class="text-center">
            Благодаря модульным продуктам, нам проще адаптировать свои решения к
            вашим потребностям.
          </p>
        </div>
        <div class="col-lg-2">
          <img
            src="../../assets/images/consultation.PNG"
            class="img-fluid rounded-circle mb-2"
            alt=""
          />
          <h2 class="text-center">ПОМОЩЬ</h2>
          <p class="text-center">
            Мы всегда готовы вам помочь с выбором вашего "железного" друга, а
            также подсказать лучшие маршруты в городе!
          </p>
        </div>
        <div class="col-lg-2">
          <img
            src="../../assets/images/famous.PNG"
            class="img-fluid rounded-circle mb-1"
            alt=""
          />
          <h2 class="text-center">КАЧЕСТВО</h2>
          <p class="text-center">
            Наша цель – сделать вашу поездку незабываемой, комфортной и веселой.
            Для этого мы готовы пойти на все!
          </p>
        </div>
      </div>
    </div>
    <div class="container mb-3">
      <div
        class="mb-3 row d-flex flex-column align-items-center justify-content-center"
      >
        <div class="col-lg-4 d-flex justify-content-center mb-2">
          <div>
            <img
              src="../../assets/images/bicycle.png"
              class="img-fluid bike-img"
              alt="bike"
            />
          </div>
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <h1 class="m-0 why-we pl-1">Почему мы?</h1>
          </div>
        </div>

        <div class="col-lg-8 d-flex flex-column align-items-center">
          <p class="text-center descr mb-3">
            Наш вело-прокат – это первый в Харькове специализированный комплекс
            для велосипедистов с прекрасной инфраструктурой, высоким уровнем
            сервиса и идеальным местоположением. Лучший прокат велосипедов – это
            мы. Вы можете нам доверять, потому что мы знаем и любим свое дело, а
            еще, потому, что:
          </p>
          <div class="line"></div>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-lg-6 mb-4 d-flex justify-content-center">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Опыт</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              src="../../assets/images/card1.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                Потому что мы знаем о велопрокате и велосипедах ВСЕ! Мы точно
                знаем, как сделать Вашу велопрогулку комфортной. Мы подберем Вам
                такой велосипед, который удовлетворит все Ваши индивидуальные
                потребности.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-6 mb-4 d-flex justify-content-center">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Профессионализм</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              src="../../assets/images/medals.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                Потому что мы не только знаем, но и умеем ВСЕ! Наши мастера
                готовы выполнить ремонт любой сложности быстро и качественно. Мы
                приведём Ваш велосипед в полный порядок в кратчайшие сроки!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>Ассортимент</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              src="../../assets/images/card3.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                Потому что у нас самый большой выбор прокат велосипедов на любой
                вкус! Широкий модельный ряд для новичков и любителей,
                эксклюзивные модели для профессионалов.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title>Яркие эмоции</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              src="../../assets/images/card4.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                Потому что мы любим наше дело и живем им. Велосипед – это
                здоровье, море позитива и просто хорошее настроение! Мы в
                абсолютном кайфе от великов, и хотим поделиться этими эмоциями с
                Вами!
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row d-flex justify-content-end">
        <ng-go-top-button
          [animate]="true"
          [speed]="50"
          [acceleration]="2"
          [scrollDistance]="300"
          [classNames]="'custom-class'"
          [styles]="{
            'border-radius': '20px 20px 20px 20px',
            right: '5px',
            color: '#4c268d',
            border: '5px solid',
            'line-height': '20px'
          }"
        >
          <i class="fa fa-arrow-up"></i>
        </ng-go-top-button>
      </div>
    </div>
  </div>
</div>
