<div class="comments">
  <div class="container">
    <div class="row">
      <div class="panel panel-default widget">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span>
          <h3 class="panel-title">Комментарии довольных клиентов:</h3>
          <span class="label label-info"> 78</span>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img
                    src="../../assets/images/user1.webp"
                    class="img-circle img-responsive"
                    alt=""
                  />
                </div>
                <div class="col-xs-10 col-md-11">
                  <div>
                    <a href="#">Прекрасные велосипеды!</a>
                    <div class="mic-info">
                      By: <a href="#">Петечкин Алексей</a> 21 декабря 2020 год
                    </div>
                  </div>
                  <div class="comment-text">
                    Отличные и удобные велосипеды, причем еще и недорогие!
                    Поездка очень понравилась. Всем советую !!!!
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img
                    src="../../assets/images/user2.jpg"
                    class="img-circle img-responsive"
                    alt=""
                  />
                </div>
                <div class="col-xs-10 col-md-11">
                  <div>
                    <a href="#">Пероснал на уровне</a>
                    <div class="mic-info">
                      By: <a href="#">Дима Мих</a> on 22 декабря 2020
                    </div>
                  </div>
                  <div class="comment-text">
                    Персонал просто замечательный! Помогли подобрать размер
                    шлема и объяснили как правильно ездить на велосипеде тандем.
                    Спасибо Вам большое!
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img
                    src="../../assets/images/user3.jpg"
                    class="img-circle img-responsive"
                    alt=""
                  />
                </div>
                <div class="col-xs-10 col-md-11">
                  <div>
                    <a href="#">Месторасположение очень хорошее</a>
                    <div class="mic-info">
                      By: <a href="#">Флягин Влад</a> on 23 декабря 2020
                    </div>
                  </div>
                  <div class="comment-text">
                    Большинство точек находятся в густонаселенных районах, что
                    позволяет без труда добраться до нужной точки. Это очень
                    важно и удобно.
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-sm btn-block" role="button"
            ><span class="glyphicon glyphicon-refresh"></span> More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
